.about-course {
    article:first-child {
        &::before {
            display: block;
            content: '';
        }

        h2 {
            margin: 2rem 0 3rem 0;
            font-size: 2.25rem;
            text-align: center;
        }

        iframe {
            margin: 0 auto;
            display: block;
            aspect-ratio: 16/9;
        }
    }

    article:last-child {
        margin-top: 5rem;
        padding-bottom: 2rem;
        background-color: $ivory;
        @include center;
        flex-flow: column;

        img {
            display: block;
            width: 1110px;
        }
    }
}