body {
    background: url("./assets/lead_bg.svg") center 0/cover fixed;
    font-family: 'Noto Sans TC', 'Roboto', "微軟正黑體", sans-serif;
    //原網站的字型設定，前兩者皆為 Google Font 資源所有。
    color: $black;
}

nav {
    width: 100%;
    // height: auto;
    background-color: #2b2b2b;

    position: fixed;
    top: 0;
    z-index: 9;

    .container {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>a>img {
            max-width: 300px;
        }
    }

    ul.nav-box {
        list-style: none;

        &,
        &>li {
            @include center;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            color: $ivory;
        }

        li {
            padding: 0.2rem 0.8rem;

            a {
                vertical-align: middle;
                font-weight: 700;
                cursor: pointer;
            }
        }

        //立即報名
        li:nth-last-child(2)>a {
            padding: 0.2rem 0.8rem;
            display: block;
            background-color: $gold;
            font-weight: 800; //彌補視覺差
            border-radius: 99rem;
            transition: .4s;

            &,
            &:visited {
                text-decoration: none;
                color: black;
            }

            &:hover,
            &:active {
                background-color: #25D0FF;
                //原版網站所用顏色
                // color: #fff;
            }
        }

        li:last-child img {
            max-height: 35px;
        }
    }
}

.to-the-top {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: $green;
    opacity: 0.9;
    color: white;

    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;

    @include center;

    &:hover {
        opacity: 1;
    }
}

.main-header {
    padding: 9rem 0 6rem;
    display: flex;
    align-items: center;
    flex-flow: column;

    img {
        width: 100%;
    }
}

footer {
    padding: 1rem 0 ;
    background-color: #000;
    color: #fff;

    p {
        line-height: 2.25rem;
        text-align: center;

        b {
            margin: 0 0.5rem;
        }

        a {
            margin-right: 0.875rem;
            transition: .4s text-shadow;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            color: #fff;
        }

        a:hover,
        a:active {
            text-shadow: 1px 1px 1px #fff;
        }
    }

    p:first-child {
        font-size: 1.2rem;
    }

    p.copyright {
        font-size: 0.875rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
}