.extra-course {
    padding: 4rem 0;
    background-color: $black;
    color: #fff;

    header {
        h2 {
            font-size: 2.25rem;
        }

        p {
            font-size: 1.125rem;
        }
    }

    .extra-course-card-box {
        margin: 2rem 3rem 0;
        display: flex;
        justify-content: space-around;
    }
}

.extra-course-cards {
    width: 23%;

    figure {

        figcaption {
            margin-bottom: 5px;

            h3 {
                font-size: 1.5rem;
                font-weight: 700;

                &::after {
                    content: ' ↘';
                    font-size: 0.8rem;
                }
            }

            .lightening-line {
                height: 1px;
                background-image: linear-gradient(90deg, $gray 35%, green 45%, green 55%, $gray 65%);
                background-size: 300% 100%;
                animation: lightening 1s linear infinite;

                /*
                參考：
                https://codepen.io/P1N2O/pen/pyBNzX?editors=0100
                */
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.extra-course-info {
    margin-top: -1.5rem;

    .date-eng {
        color: $green;
        font-size: 2.125rem;
        font-weight: 700;
    }

    h4 {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    p {
        font-size: 0.9rem;
        font-weight: 300;
    }

    .extra-course-btns {
        margin-top: 1rem;
        display: block;
        background-color: $green;
        border-radius: 99px;
        text-align: center;
        color: #000;
        font-weight: 500;
        line-height: 2;
        animation: color-changing .7s ease infinite alternate;
    }
}

@keyframes lightening {
    from {
        background-position-x: 100%;
    }

    to {
        background-position-x: 0%;
    }
}

@keyframes color-changing {
    0% {
        background-color: $green;
    }
    10% {
        background-color: $green;
    }
    90% {
        background-color: $gray;
    }
    100% {
        background-color: $gray;
    }
}