$ivory: #efefef;
$gray: #7b7b7b;
$black: #232323;
$green: #26a32f;
$orange: #ea5f36;
$orange-translucent: #ff450fd6;
$gold: #fff109;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header {
    margin: 2rem 0;
    color: #3f4145;

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 3rem 0;

    @include center;
    flex-direction: column;
}

.date-eng {
    font-family: Oswald, 'Noto Sans TC', serif;
}

.link-soldout {
    cursor: default;
}