@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: white;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

body {
  background-image: url(/assets/lead_bg.svg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Noto Sans TC", "Roboto", "微軟正黑體", sans-serif;
  color: #232323;
  position: relative;
}

nav {
  margin-bottom: 8rem;
  padding: 0 10%;
  min-height: 70px;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
nav > a > img {
  max-width: 300px;
}

.nav-box {
  display: flex;
}
.nav-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  max-height: 2rem;
  max-width: 6rem;
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}
.nav-box li:nth-last-child(2) > a {
  display: block;
  padding: 0.25rem 1rem;
  background-color: #fff109;
  font-weight: 800;
  border-radius: 99rem;
}
.nav-box li:nth-last-child(2) > a, .nav-box li:nth-last-child(2) > a:visited {
  text-decoration: none;
  color: black;
}
.nav-box li:nth-last-child(2) > a:hover, .nav-box li:nth-last-child(2) > a:active {
  background-color: #25D0FF;
}

.to-the-top {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #26a32f;
  position: sticky;
  top: 90vh;
  left: calc(100vw - 65px);
  cursor: pointer;
}
.to-the-top .arrow {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent transparent #fff transparent;
}

header {
  display: flex;
  align-items: center;
  flex-flow: column;
}
header img {
  width: 1110px;
}

footer {
  padding: 2rem 0 1rem;
  background-color: #000;
  color: #fff;
}
footer p {
  line-height: 2.25rem;
  text-align: center;
}
footer p b {
  margin: 0 0.5rem;
}
footer p a {
  margin-right: 0.875rem;
  transition: 0.4s text-shadow;
}
footer p a,
footer p a:visited,
footer p a:hover,
footer p a:active {
  color: #fff;
}
footer p a:hover,
footer p a:active {
  text-shadow: 1px 1px 1px #fff;
}
footer p:first-child {
  font-size: 1.2rem;
}
footer p.copyright {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.recomm > div:first-child {
  background-color: rgba(0, 223, 0, 0.5411764706);
  padding: 2rem 0;
}
.recomm > div:first-child > * {
  min-width: 930px;
  text-align: center;
}
.recomm > div:first-child h2 {
  line-height: 3rem;
}
.recomm > div:first-child p {
  font-weight: 600;
}
.recomm .feedback {
  padding: 3rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/assets/recomm_img2.jpg);
  background-size: cover;
  background-position: -200px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.recomm .feedback h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.recomm .feedback .recomm-carousel-cards p {
  font-size: 1.25rem;
  text-align: center;
}
.recomm .feedback .recomm-carousel-cards span {
  display: block;
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}
.recomm > div:last-child {
  background-color: rgba(0, 0, 0, 0.7294117647);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.recomm > div:last-child h2 {
  margin-right: 1rem;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .recomm > div:last-child h2 br {
    display: none;
  }
}
.recomm > div:last-child .recomm-cards {
  margin-left: 3rem;
}
.recomm > div:last-child .recomm-cards h3 {
  color: #ea5f36;
}

.recomm-carousel-inticator-wrap {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}
.recomm-carousel-inticator-wrap::before, .recomm-carousel-inticator-wrap::after {
  width: 2rem;
  height: 2rem;
  background-color: rgba(68, 68, 68, 0.5333333333);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  top: 50%;
}
.recomm-carousel-inticator-wrap::before:hover, .recomm-carousel-inticator-wrap::after:hover {
  background-color: rgba(68, 68, 68, 0.8666666667);
}
.recomm-carousel-inticator-wrap::before {
  content: "<";
  left: 25%;
}
.recomm-carousel-inticator-wrap::after {
  content: ">";
  right: 25%;
}

.recomm-carousel-inticators {
  width: 1rem;
  margin: 1rem 0;
  border-bottom: 3px solid rgba(85, 85, 85, 0.6666666667);
  cursor: pointer;
  transition: 0.4s;
}
.recomm-carousel-inticators:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.6666666667);
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.agenda > article {
  margin: 0 auto;
  width: 1110px;
}

.agd-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agd-btn-box a {
  display: block;
  padding: 1rem 0;
  width: 50%;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.agd-btn-box a:first-child {
  background-color: #26a32f;
  color: #fff;
}
.agd-btn-box a:last-child {
  background-color: #565656;
  color: #b3b3b3;
}
.agd-btn-box a p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.agd-btn-box a span {
  font-family: "Oswald", sans-serif;
}
.agd-btn-box h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.agd-highlight {
  padding: 1rem 0;
  background-color: #26a32f;
}
.agd-highlight p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.agd-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: #efefef;
  border: 2px solid #26a32f;
  border-radius: 0 0 5px 5px;
}
.agd-content .agd-content-box {
  width: 55%;
}
.agd-content .agd-content-box figcaption {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
  color: #26a32f;
}
.agd-content .agd-content-box ul {
  margin-left: 3rem;
}
.agd-content .agd-content-box li {
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.agd-content .agd-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.agd-content .agd-content-img img {
  width: 90%;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.key-caps {
  padding: 4rem 0;
  background-color: #4f4f51;
  text-align: center;
  color: #fff;
}
.key-caps h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.key-caps .key-caps-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.key-caps .key-caps-cards {
  margin: 0 2.5rem;
}
.key-caps .key-caps-cards img {
  width: 200px;
}
.key-caps .key-caps-cards h3 {
  font-size: 1.375rem;
  line-height: 3rem;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.about-lesson article:first-child::before {
  display: block;
  content: "";
}
.about-lesson article:first-child h2 {
  margin: 2rem 0 3rem 0;
  font-size: 2.25rem;
  text-align: center;
}
.about-lesson article:first-child iframe {
  margin: 0 auto;
  display: block;
  width: 1110px;
  aspect-ratio: 16/9;
}
.about-lesson article:last-child {
  margin-top: 5rem;
  padding-bottom: 2rem;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.about-lesson article:last-child img {
  display: block;
  width: 1110px;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.lesson-info {
  padding: 1rem;
}
.lesson-info, .lesson-info > .section-header {
  background-color: #000;
  color: #fff;
}

.lesson-info-box {
  margin: 0 auto;
  width: 1110px;
}
.lesson-info-box > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.lesson-price-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1110px;
  justify-content: space-between;
}

.lesson-price-cards {
  padding: 1rem 0;
  width: 23%;
  max-width: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #26a32f;
  border-radius: 5px;
}
.lesson-price-cards:first-child {
  background-color: #ea5f36;
}
.lesson-price-cards:hover {
  background-color: #fff109;
  color: #232323;
}
.lesson-price-cards strong {
  font-family: Oswald, "Noto Sans TC", serif;
  font-size: 2.125rem;
  font-weight: 500;
}

.lesson-price-ps {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #7b7b7b;
  border: 1px solid #fff;
  letter-spacing: 1px;
  line-height: 2rem;
}

.lesson-btn-box {
  margin: 3rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lesson-btn-box > a {
  display: block;
  padding: 0.8rem 3.5rem;
  background-color: #fff109;
  border-radius: 99rem;
  font-weight: 800;
  font-size: 1.25rem;
}
.lesson-btn-box > a, .lesson-btn-box > a:visited {
  text-decoration: none;
  color: black;
}
.lesson-btn-box > a:hover, .lesson-btn-box > a:active {
  background-color: #25D0FF;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-eng, .lesson-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

.annual {
  background-color: rgba(255, 69, 15, 0.8392156863);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
}
.annual h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.annual p {
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
}

.annual table {
  width: 100%;
  margin-top: 2rem;
  border: none;
  border-collapse: collapse;
}
.annual table #col1 {
  width: 9rem;
}
.annual table th,
.annual table td {
  text-align: center;
  line-height: 3;
}
.annual table td {
  background-color: rgba(0, 0, 0, 0.1);
}
.annual table thead th {
  font-size: 1.5rem;
}
.annual table thead th:nth-child(2) {
  background-color: black;
}
.annual table thead th:nth-child(3) {
  background-color: #26a32f;
}
.annual table thead th:last-child {
  background-color: #7b7b7b;
}
.annual table tbody tr:not(:last-child) {
  border-bottom: 1px solid gray;
}
.annual table tbody th {
  font-size: 1.2rem;
  -moz-text-align-last: left;
       text-align-last: left;
}
.annual table tbody td {
  font-size: 1.375rem;
  font-weight: 700;
}

.annual-btn-row td > a {
  margin: 1rem 1.5rem;
  padding: 0.6rem;
  display: block;
  border-radius: 1.5rem;
  background-color: #efefef;
  color: #000;
}
.annual-btn-row td > a:hover {
  background-color: #000;
}
.annual-btn-row td > a > div {
  width: 100%;
  background-color: #efefef;
  border-radius: calc(1.5rem - 0.6rem);
  font-size: 1.2rem;
  line-height: 2;
}
.annual-btn-row td > a > div:hover {
  background-color: #000;
  color: #fff;
}

.annual .white-arrow {
  display: inline-block;
  border: none;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  font-size: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #ea5f36;
  border-radius: 2px;
}