@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
body {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

.section-header {
  margin: 2rem 0;
  color: #3f4145;
  text-align: center;
}
.section-header h2 {
  font-size: 2.25rem;
}
.section-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.date-eng, .course-info-box > p {
  font-family: Oswald, "Noto Sans TC", serif;
}

.link-soldout, .annual-btn-row td:first-child > a {
  cursor: default;
}

body {
  background: url("../assets/lead_bg.svg") center 0/cover fixed;
  font-family: "Noto Sans TC", "Roboto", "微軟正黑體", sans-serif;
  color: #232323;
}

nav {
  width: 100%;
  min-height: 70px;
  background-color: #2b2b2b;
  position: fixed;
  top: 0;
  z-index: 9;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container > a > img {
  max-width: 300px;
}

.nav-box, .nav-box li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-box a,
.nav-box a:visited,
.nav-box a:hover,
.nav-box a:active {
  color: #efefef;
}
.nav-box li > a {
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  list-style: none;
  font-weight: 700;
  cursor: pointer;
}
.nav-box li:nth-last-child(2) > a {
  display: block;
  padding: 0.25rem 1rem;
  background-color: #fff109;
  font-weight: 800;
  border-radius: 99rem;
  transition: 0.4s;
}
.nav-box li:nth-last-child(2) > a, .nav-box li:nth-last-child(2) > a:visited {
  text-decoration: none;
  color: black;
}
.nav-box li:nth-last-child(2) > a:hover, .nav-box li:nth-last-child(2) > a:active {
  background-color: #25D0FF;
}

.to-the-top {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #26a32f;
  opacity: 0.9;
  color: white;
  position: fixed;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-the-top:hover {
  opacity: 1;
}

.main-header {
  padding: 9rem 0 6rem;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.main-header img {
  width: 100%;
}

footer {
  padding: 2rem 0 1rem;
  background-color: #000;
  color: #fff;
}
footer p {
  line-height: 2.25rem;
  text-align: center;
}
footer p b {
  margin: 0 0.5rem;
}
footer p a {
  margin-right: 0.875rem;
  transition: 0.4s text-shadow;
}
footer p a,
footer p a:visited,
footer p a:hover,
footer p a:active {
  color: #fff;
}
footer p a:hover,
footer p a:active {
  text-shadow: 1px 1px 1px #fff;
}
footer p:first-child {
  font-size: 1.2rem;
}
footer p.copyright {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.recomm > div:first-child {
  background-color: rgba(0, 223, 0, 0.5411764706);
  padding: 3rem 0;
  text-align: center;
}
.recomm > div:first-child h2 {
  font-weight: 700;
  line-height: 3rem;
}
.recomm > div:first-child p {
  font-size: 1.2rem;
  font-weight: 600;
}

.feedback {
  padding: 3rem 0;
  background: linear-gradient(rgba(239, 239, 239, 0.8), rgba(255, 240, 230, 0.8705882353)), url("./assets/recomm_img2.jpg") center/cover;
}
.feedback h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

.recomm-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.recomm-carousel-cards p {
  font-size: 1.25rem;
  text-align: center;
}
.recomm-carousel-cards span {
  display: block;
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}
.recomm-carousel-inticators {
  width: 1rem;
  margin: 1rem 0;
  border-bottom: 3px solid rgba(85, 85, 85, 0.6666666667);
  cursor: pointer;
  transition: 0.4s;
}
.recomm-carousel-inticators-wrap {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}
.recomm-carousel-inticators:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.6666666667);
}
.recomm-carousel-arrows {
  box-sizing: border-box;
  display: block;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 3px;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  color: #efefef;
  position: absolute;
  top: 50%;
  transition: opacity 0.2s;
  cursor: pointer;
}
.recomm-carousel-arrows:hover {
  opacity: 0.9;
}
.recomm-carousel-arrows.recomm-carousel-prev {
  left: 0;
}
.recomm-carousel-arrows.recomm-carousel-next {
  right: 0;
}

/*
&::before, &::after {
    width: 2rem;
    height: 2rem;
    background-color: #44444488;
    border-radius: 3px;
    @include center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    top: 50%;

}
*/
.recomm > div:last-child {
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.7294117647);
  color: #fff;
  word-break: break-word;
  overflow-wrap: break-word;
}
.recomm > div:last-child .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recomm > div:last-child h2 {
  margin-right: 1rem;
  font-size: 2.25rem;
}
.recomm > div:last-child .recomm-cards {
  margin-left: 3rem;
}
.recomm > div:last-child .recomm-cards h3 {
  color: #ea5f36;
  font-size: 1.5rem;
}

.agd-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agd-btn-box a {
  display: block;
  padding: 1rem 0;
  width: 50%;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.agd-btn-box a:first-child {
  background-color: #26a32f;
  color: #fff;
}
.agd-btn-box a:last-child {
  background-color: #565656;
  color: #b3b3b3;
}
.agd-btn-box a p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.agd-btn-box h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.agd-highlight {
  padding: 1rem 0;
  background-color: #26a32f;
}
.agd-highlight p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.agd-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: #efefef;
  border: 2px solid #26a32f;
  border-radius: 0 0 5px 5px;
}
.agd-content .agd-content-box {
  width: 55%;
}
.agd-content .agd-content-box figcaption {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
  color: #26a32f;
}
.agd-content .agd-content-box ul {
  margin-left: 3rem;
}
.agd-content .agd-content-box li {
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.agd-content .agd-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.agd-content .agd-content-img img {
  width: 90%;
}

.key-caps {
  padding: 4rem 0;
  background-color: #4f4f51;
  text-align: center;
  color: #fff;
}
.key-caps h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.key-caps .key-caps-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.key-caps .key-caps-cards {
  margin: 0 2.5rem;
}
.key-caps .key-caps-cards img {
  width: 200px;
}
.key-caps .key-caps-cards h3 {
  font-size: 1.375rem;
  line-height: 3rem;
}

.about-course article:first-child::before {
  display: block;
  content: "";
}
.about-course article:first-child h2 {
  margin: 2rem 0 3rem 0;
  font-size: 2.25rem;
  text-align: center;
}
.about-course article:first-child iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
}
.about-course article:last-child {
  margin-top: 5rem;
  padding-bottom: 2rem;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.about-course article:last-child img {
  display: block;
  width: 1110px;
}

.course-info {
  background-color: #000;
  padding: 1rem;
}
.course-info, .course-info header.section-header {
  color: #fff;
}

.course-info-box {
  margin: 0 auto;
  width: 1110px;
}
.course-info-box > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.course-price-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.course-price-cards {
  padding: 1rem 0;
  width: 23%;
  max-width: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #26a32f;
  border-radius: 5px;
}
.course-price-cards:first-child {
  background-color: #ea5f36;
}
.course-price-cards:hover {
  background-color: #fff109;
  color: #232323;
}
.course-price-cards strong {
  font-family: Oswald, "Noto Sans TC", serif;
  font-size: 2.125rem;
  font-weight: 500;
}

.course-price-ps {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #7b7b7b;
  border: 1px solid #fff;
  letter-spacing: 1px;
  line-height: 2rem;
}

.course-btn-box {
  margin: 3rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-btn-box > a {
  display: block;
  padding: 0.8rem 3.5rem;
  background-color: #fff109;
  border-radius: 99rem;
  font-weight: 800;
  font-size: 1.25rem;
}
.course-btn-box > a, .course-btn-box > a:visited {
  text-decoration: none;
  color: black;
}
.course-btn-box > a:hover, .course-btn-box > a:active {
  background-color: #25D0FF;
}

.annual {
  background-color: rgba(255, 69, 15, 0.8392156863);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
}
.annual h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.annual p {
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
}

.annual table {
  width: 100%;
  margin-top: 2rem;
  border: none;
  border-collapse: collapse;
}
.annual table #col1 {
  width: 9rem;
}
.annual table th,
.annual table td {
  text-align: center;
  line-height: 3;
}
.annual table td {
  background-color: rgba(0, 0, 0, 0.1);
}
.annual table thead th {
  font-size: 1.5rem;
}
.annual table thead th:nth-child(2) {
  background-color: black;
}
.annual table thead th:nth-child(3) {
  background-color: #26a32f;
}
.annual table thead th:last-child {
  background-color: #7b7b7b;
}
.annual table tbody tr:not(:last-child) {
  border-bottom: 1px solid gray;
}
.annual table tbody th {
  font-size: 1.2rem;
  -moz-text-align-last: left;
       text-align-last: left;
}
.annual table tbody td {
  font-size: 1.375rem;
  font-weight: 700;
}

.annual-btn-row td > a {
  margin: 1rem 1.5rem;
  padding: 0.6rem;
  display: block;
  border-radius: 1.5rem;
  background-color: #efefef;
  color: #000;
}
.annual-btn-row td > a:hover {
  background-color: #000;
}
.annual-btn-row td > a > div {
  width: 100%;
  background-color: #efefef;
  border-radius: calc(1.5rem - 0.6rem);
  font-size: 1.2rem;
  line-height: 2;
}
.annual-btn-row td > a > div:hover {
  background-color: #000;
  color: #fff;
}

.annual .white-arrow {
  display: inline-block;
  border: none;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  font-size: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #ea5f36;
  border-radius: 2px;
}

.extra-course {
  padding: 4rem 0;
  background-color: #232323;
  color: #fff;
}
.extra-course header h2 {
  font-size: 2.25rem;
}
.extra-course header p {
  font-size: 1.125rem;
}
.extra-course .extra-course-card-box {
  margin: 2rem 3rem 0;
  display: flex;
  justify-content: space-around;
}

.extra-course-cards {
  width: 23%;
}
.extra-course-cards figure figcaption {
  margin-bottom: 5px;
}
.extra-course-cards figure figcaption h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.extra-course-cards figure figcaption h3::after {
  content: " ↘";
  font-size: 0.8rem;
}
.extra-course-cards figure figcaption .lightening-line {
  height: 1px;
  background-image: linear-gradient(90deg, #7b7b7b 35%, green 45%, green 55%, #7b7b7b 65%);
  background-size: 300% 100%;
  animation: lightening 1s linear infinite;
  /*
  參考：
  https://codepen.io/P1N2O/pen/pyBNzX?editors=0100
  */
}
.extra-course-cards figure img {
  max-width: 100%;
}

.extra-course-info {
  margin-top: -1.5rem;
}
.extra-course-info .date-eng, .extra-course-info .course-info-box > p {
  color: #26a32f;
  font-size: 2.125rem;
  font-weight: 700;
}
.extra-course-info h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.extra-course-info p {
  font-size: 0.9rem;
  font-weight: 300;
}
.extra-course-info .extra-course-btns {
  margin-top: 1rem;
  display: block;
  background-color: #26a32f;
  border-radius: 99px;
  text-align: center;
  color: #000;
  font-weight: 500;
  line-height: 2;
  animation: color-changing 0.7s ease infinite alternate;
}

@keyframes lightening {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0%;
  }
}
@keyframes color-changing {
  0% {
    background-color: #26a32f;
  }
  10% {
    background-color: #26a32f;
  }
  90% {
    background-color: #7b7b7b;
  }
  100% {
    background-color: #7b7b7b;
  }
}
.faq {
  background: linear-gradient(to bottom, #fff, #efefef);
  color: #232323;
}
.faq .section-header {
  color: #232323;
}

.questions {
  margin: 2rem 0;
}
.questions h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.questions p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}
.questions > p > a, .questions > p > a:visited {
  color: #26a32f;
}
.questions > p > a:hover, .questions > p > a:active {
  color: #ea5f36;
}

.read-more {
  background-color: #fff;
}

.read-more-box {
  margin-bottom: 2rem;
}
.read-more-box h3 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #4f4f51;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5;
}
.read-more-box ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.read-more-box li {
  list-style-type: none;
  width: 30%;
}
.read-more-box li a {
  display: block;
  width: 100%;
  height: 100%;
}
.read-more-box figure {
  width: 100%;
}
.read-more-box figure img {
  display: block;
  width: 100%;
  aspect-ratio: 1.9;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #000;
  transition: opacity 0.5s ease;
  position: relative;
  opacity: 1;
}
.read-more-box figure figcaption {
  font-size: 1.125rem;
  font-weight: 500;
  color: #232323;
}
.read-more-box figure:hover img {
  opacity: 0.6;
}